@use "../../styles/const.scss" as style;
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}
* {
  scroll-behavior: smooth;
}
.App {
  background: style.$bg;
  width: 100vw;
  z-index: -10;
  padding: 0 0 0 0;
}
::-webkit-scrollbar-track {
  background: #423e55;
}
::-webkit-scrollbar {
  width: 10px;
  color: style.$bg;
}
body {
  overflow-x: hidden;
}
::-webkit-scrollbar-thumb {
  background: style.$bg;
  &:hover {
    background: #26203d;
  }
}
