@use "../../styles/const.scss" as style;

.header-container {
  * {
    font-family: "Montserrat";
    z-index: 10;
  }
  .header-burger {
    display: none;
    width: 55px;
  }
  max-width: 1440px;
  margin: auto;
  display: flex;
  z-index: 3;
  align-items: center;
  justify-content: space-between;
  padding: 30px 84px;
  .logo {
    .logo-txt {
      width: 76px;
      margin-left: 15px;
    }
    .logo-img {
      width: 102px;
    }
  }
  .header-navigation {
    display: flex;

    .header-link {
      position: relative;
      text-decoration: none;
      color: style.$white;
      font-weight: 400;
      font-size: 12px;
      font-weight: 700;
      line-height: 14.7px;
      padding: 18px 20px;
      transition: 0.7s cubic-bezier(0.445, 0.05, 0.55, 0.95);
      font-weight: 700;
      &:hover {
        color: rgb(255, 255, 255);
        background-color: #333333;
      }
    }
  }
  .header-buttons {
    button {
      @include style.btn;
      &:hover {
        cursor: pointer;
      }
    }
    .btn-contactus {
      color: style.$white;
      border: 2px solid style.$white;
      background: none;
    }
    .btn-joinhydra {
      @include style.gradient-button;
      margin-left: 38px;
    }
  }
}
@media (max-width: 1200px) {
  .header-container {
    padding: 30px 50px;
  }
}
@media (max-width: 1150px) {
  .header-container {
    .header-navigation,
    .header-buttons {
      display: none;
    }
    .header-burger {
      display: block;
    }
  }
}
@media (max-width: 1080px) {
  .header-container {
    .logo {
      .logo-txt {
        width: 9vw;
      }
      .logo-img {
        width: 13vw;
      }
    }
    .header-burger {
      width: 7vw;
    }
  }
}
@media (max-width: 630px) {
  .header-container {
    padding: 40px 20px;
  }
}